[Unit]
Description=BIFROST Screen Broadcasting Server
After=network.target avahi-daemon.service display-manager.service
Wants=avahi-daemon.service

[Service]
Type=simple
ExecStart=/opt/bifrost/bifrost.sh --headless
Restart=always
RestartSec=3
User=root
WorkingDirectory=/opt/bifrost
Environment=HOME=/root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
